ul,
li {
  list-style-type: none;
}

.clicavel {
  cursor: pointer;
}

.DeleteButton {
  color: rgb(246, 247, 234);
  font-weight: bold;
  background-color: rgb(243, 51, 51);
  margin-right: 10px;
  border-radius: 15%;
}